<h1 class="text-center">Edit Castaway</h1>
<%= form_for @castaway, layout: :basic do |f| %>
  <%= f.text_field :name %>
  <%= f.select :season_id, Season.all.collect{|x| [x.name, x.id]} %>
  <%= f.select :original_tribe_id, Tribe.all.collect{|x| [x.name, x.id]} %>
  <%= f.select :swapped_tribe_id, Tribe.all.collect{|x| [x.name, x.id]} %>
  <%= f.select :merged_tribe_id, Tribe.all.collect{|x| [x.name, x.id]} %>
  <%= f.select :voted_out_episode_id, Episode.all.collect{|x| [x.name, x.id]} %>
  <%= f.submit 'Save', class: 'btn-primary' %>
<% end %>
