<%= content_for :body_id do 'contestants-index' end %>
<h1>
  Contestants
  <span class="pull-right">
    <%= link_to 'New', new_contestant_path, :class => 'btn btn-primary btn-sm' %>
  </span>
</h1>

<hr/>
<div id="contestants-container">
  <% @contestants.each do |c| %>

    <!-- Contestant tile -->
    <div class="item">
      <a href="#" class="btn" data-toggle="modal"
         data-target="#contestant_modal_<%= c.id %>">
        <%= image_tag c.image_url, class: 'image' %>
      </a>
    </div>

    <!-- Contestant Modal -->
    <div class="modal fade" id="contestant_modal_<%= c.id %>"
         tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">X</button>
            <h4 class="modal-title">
              <%= c.name %>
              <%= link_to 'Edit', edit_contestant_path(c),
                          class: 'btn btn-primary btn-sm' %>
            </h4>
            <div class="clearfix"></div>
          </div>
          <div class="modal-body">
            <h3>Age: <%= c.age %></h3>
            <h3>Job: <%= c.job %></h3>
            <h3>Hometown: <%= c.hometown %></h3>
            <h3>Tribe: </h3>
            <h3>Voted Out: </h3>
            <h3>Drafted By (cash): </h3>
            <h3>Drafted By (drink): </h3>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
