<%= content_for :body_id do 'contestants-index' end %>
<h1>
  Contestants
  <span class="pull-right">
    <%= link_to 'New', new_contestant_path,
                class: 'btn btn-primary btn-sm' if current_user.admin? %>
  </span>
</h1>

<hr/>
<div id="contestants-container">
  <% @contestants.each do |c| %>

    <!-- Contestant tile -->
    <div class="item" style="background: url(<%= c.image_url %>) no-repeat center center; background-size: cover;"
         data-toggle="modal"
         data-target="#contestant_modal_<%= c.id %>">
    </div>

    <!-- Contestant Modal -->
    <div class="modal fade" id="contestant_modal_<%= c.id %>"
         tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">X</button>
            <h4 class="modal-title">
              <%= c.name %>
              <%= link_to 'Edit', edit_contestant_path(c),
                          class: 'btn btn-primary btn-sm' if current_user.admin? %>
            </h4>
            <div class="clearfix"></div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-6">
                <table class="table">
                  <tr>
                    <td>Age</td>
                    <td><%= c.age %></td>
                  </tr>
                  <tr>
                    <td>Job</td>
                    <td><%= c.job %></td>
                  </tr>
                  <tr>
                    <td>Hometown</td>
                    <td><%= c.hometown %></td>
                  </tr>
                  <tr>
                    <td>Tribe</td>
                    <td><%= c.tribes.first.try(:name) %></td>
                  </tr>
                </table>
              </div>
              <div class="col-xs-6">
                <table class="table">
                  <tr>
                    <td>Voted Out</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="cash">Cash Drafts</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="drinking">Drinking Drafts</td>
                    <td></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
