<h1>
  <div class="row">
    <div class="col-sm-11 col-xs-8 textfill">
      <%= image_tag @contestant.image_url, class: 'img-rounded col-sm-1 hidden-xs' %>
      <span><%= @contestant.name %> - <span class="text-muted"><%= @contestant.job %></span></span>
    </div>
    <div class="col-sm-1 col-xs-4 text-right">
      <%= link_to 'Edit', edit_contestant_path(@contestant),
                  class: 'btn btn-primary btn-sm' if current_user.admin? %>
    </div>
  </div>
</h1>
<hr/>
<%= panel_row column_class: 'col-sm-4 col-xs-12' do %>
  <%= panel heading: 'Seasons', context: :info do %>
    <div class="container-fluid">
      <% @contestant.seasons.each do |s| %>
        <p><%= link_to s.name, season_path(s) %></p>
      <% end %>
    </div>
  <% end %>
  <%= panel heading: 'Cash', context: :success do %>
    <div class="container-fluid">
      <% @contestant.picks.where(pick_type:'cash').each do |s| %>
        <p><%= s.name %> - <%= s.user.name %></p>
      <% end %>
    </div>
  <% end %>
  <%= panel heading: 'Drinking', context: :warning do %>
    <div class="container-fluid">
      <% @contestant.picks.where(pick_type:'drinking').each do |s| %>
        <p><%= s.name %> - <%= s.user.name %></p>
      <% end %>
    </div>
  <% end %>
<% end %>
