<%= content_for :body_class do 'season-bg' end %>
<%= content_for :body_style do %>
  background: url(<%= @season.image_url %>) no-repeat center center fixed;
  background-size: cover;
<% end %>
<h1>
  <%= @season.name %>
  <%= link_to 'Draft', draft_path(@season.draft), class: 'btn btn-primary btn-sm pull-right' if @season.draft %>
  <%= link_to 'Edit', edit_season_path(@season), :class => 'btn btn-primary btn-sm pull-right' %>
</h1>
<hr/>
<div class="clearfix"></div>
<%= panel_row :column_class => 'col-xs-4' do %>
  <%= panel :heading => 'Contestants', :context => :default do %>
    <div class="container-fluid">
      <% @season.contestants.each do |c| %>
        <p><%= icon :user %> <%= link_to c.name, contestant_path(c) %></p>
      <% end %>
    </div>
  <% end %>
  <%= panel :heading => 'Winner', :context => :success do %>
  <% end %>
  <%= panel :heading => 'Pool', :context => :warning do %>
  <% end %>
<% end %>
