<h1>
  <%= @season.name %>
  <%= link_to 'Edit', edit_season_path(@season), :class => 'btn btn-primary btn-sm pull-right' %>
</h1>
<hr/>
<div class="clearfix"></div>
<%= panel_row :column_class => 'col-xs-4' do %>
  <%= panel :heading => 'Contestants', :context => :default do %>
    <% @season.contestants.each do |c| %>
      <h2><%= icon :user %> <%= link_to c.name, contestant_path(c) %></h2>
    <% end %>
  <% end %>
  <%= panel :heading => 'Winner', :context => :success do %>
  <% end %>
  <%= panel :heading => 'Pool', :context => :warning do %>
  <% end %>
<% end %>
