<%= content_for :body_class do 'season-bg' end %>
<%= content_for :body_style do %>
  background: url(<%= @season.image_url %>) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
<% end %>
<h1>
  <div class="row">
    <div class="col-xs-10">
      <%= @season.name %>
    </div>
    <div class="col-xs-1 text-right">
      <%= link_to 'Draft', draft_path(@season.draft), class: 'btn btn-warning btn-sm' if @season.draft %>
    </div>
    <div class="col-xs-1 text-right">
      <%= link_to 'Edit', edit_season_path(@season), :class => 'btn btn-primary btn-sm' %>
    </div>
  </div>
</h1>
<hr/>
<%= panel_row :column_class => 'col-xs-4' do %>
  <%= panel :heading => 'Contestants', :context => :default do %>
    <div class="container-fluid">
      <% @season.contestants.each do |c| %>
        <p><%= icon :user %> <%= link_to c.name, contestant_path(c) %></p>
      <% end %>
    </div>
  <% end %>
  <%= panel :heading => 'Winner', :context => :success do %>
  <% end %>
  <%= panel :heading => 'Pool', :context => :warning do %>
  <% end %>
<% end %>
