<h1>Listing admin_seasons</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_seasons.each do |admin_season| %>
      <tr>
          <td><%= admin_season.name %></td>
        <td><%= link_to 'Show', admin_season %></td>
        <td><%= link_to 'Edit', edit_admin_season_path(admin_season) %></td>
        <td><%= link_to 'Destroy', admin_season, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin season', new_admin_season_path %>
<%= link_to 'Admin Home', admin_path %>