<h1 class="text-center">New Tribe</h1>
<%= form_for Tribe.new, action: :create, layout: :basic do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :color, placeholder: '#abcdef' %>
  <%= f.select :season_id, Season.all.collect {|p| [ p.name, p.id ] } %>
  <%= f.submit 'Save' %>
<% end %>
