<div class="text-center">
    <h1>Admin Home</h1>
    <h2><%= link_to 'Episodes', admin_episodes_path %></h2>
    <h2><%= link_to 'Rules', rule_articles_path %></h2>
    <h2><%= link_to 'Castaways', admin_castaways_path %></h2>
    <h2><%= link_to 'Seasons', admin_seasons_path %></h2>
    <h2><%= link_to 'Tribes', admin_tribes_path %></h2>
</div>
