<h1>
  <div class="row">
    <div class="col-xs-11">
      <%= @episode.name %> - <%= @episode.season.try(:name) %>
    </div>
    <div class="col-xs-1 text-right">
      <%= link_to 'Edit', edit_episode_path(@episode),
                  class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
</h1>
<hr/>
<%= panel_row :column_class => 'col-xs-6' do %>
  <%= panel :heading => 'Contestants', :context => :success do %>
    <h2><%= icon :user %> Voted Out</h2>
  <% end %>
  <%= panel :heading => 'Pool Players', :context => :warning do %>
    <h2><%= icon :flash %> Knocked Out</h2>
  <% end %>
<% end %>
