<h1>
  <div class="row">
    <div class="col-sm-6 col-xs-10 textfill">
      <span><%= @episode.name %></span>
    </div>
    <div class="col-sm-5 hidden-xs textfill">
        <span><%= @episode.season.try(:name) %></span>
    </div>
    <div class="col-sm-1 col-xs-2 text-right">
      <%= link_to 'Edit', edit_episode_path(@episode),
                  class: 'btn btn-primary btn-sm' if current_user.admin? %>
    </div>
  </div>
</h1>
<hr/>
<%= panel_row :column_class => 'col-sm-6 col-xs-12' do %>
  <%= panel :heading => 'Contestants', :context => :success do %>
    <p><%= icon :user %> <%= @episode.vote_out.try(:contestant).try(:name) %></p>
  <% end %>
  <%= panel :heading => 'Pool Players', :context => :warning do %>
    <% @episode.knocked_out.each do |k| %>
      <p><%= icon :flash %> <%= k.name %></p>
    <% end %>
  <% end %>
<% end %>
