<div class="text-center col-xs-12 col-sm-8 col-sm-offset-2">
    <img src="//fillmurray.com/300/300" alt="Survivor Club Logo"/>
    <h1>Welcome to Survivor Club</h1>
    <%= nav layout: :justified do %>
      <%= link_to 'Rules', episodes_path %>
      <%= link_to 'Episodes', episodes_path %>
      <%= link_to 'Castaways', contestants_path %>
      <%= link_to 'Players', tribes_path %>
      <%= link_to 'Game Day', game_day_path %>
      <%= link_to 'Log In', new_user_session_path %>
    <% end %>
</div>