<%= content_for :body_id do 'contestants-index' end %>
<h1>Late Picks!</h1>
<hr/>
<div id="contestants-container">
  <% @contestants.select{ |x| x.tribe_for_season(1) }.each do |c| %>
    <!-- Contestant tile -->
    <div class="item"
         style="background: url(<%= c.image_url %>) no-repeat center center;
                background-size: cover;
                border: 2px red solid;"
         data-toggle="modal"
         data-target="#contestant_modal_<%= c.id %>">
    </div>

    <!-- Contestant Modal -->
    <div class="modal fade" id="contestant_modal_<%= c.id %>"
         tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">X</button>
            <h4 class="modal-title">
              <%= c.name %>
              <%= form_for Pick.new, url: late_picks_path, layout: :basic do |f| %>
                <%= f.hidden_field :draft_id, value: 1 %>
                <%= f.hidden_field :season_id, value: 1 %>
                <%= f.hidden_field :contestant_id, value: c.id %>
                <%= f.submit 'Pick' %>
              <% end %>
            </h4>
            <div class="clearfix"></div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-6">
                <table class="table">
                  <tr>
                    <td>Age</td>
                    <td><%= c.age %></td>
                  </tr>
                  <tr>
                    <td>Job</td>
                    <td><%= c.job %></td>
                  </tr>
                  <tr>
                    <td>Hometown</td>
                    <td><%= c.hometown %></td>
                  </tr>
                  <tr>
                    <td>Tribe</td>
                    <td><%= c.tribes.first.try(:name) %></td>
                  </tr>
                </table>
              </div>
              <div class="col-xs-6">
                <table class="table">
                  <tr>
                    <td>Voted Out</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="cash">Cash Drafts</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="drinking">Drinking Drafts</td>
                    <td></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% @contestants.select{ |x| x.tribe_for_season(2) }.each do |c| %>
    <!-- Contestant tile -->
    <div class="item" style="background: url(<%= c.image_url %>) no-repeat center center;
            background-size: cover;
            border: 2px blue solid;"
         data-toggle="modal"
         data-target="#contestant_modal_<%= c.id %>">
    </div>

    <!-- Contestant Modal -->
    <div class="modal fade" id="contestant_modal_<%= c.id %>"
         tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">X</button>
            <h4 class="modal-title">
              <%= c.name %>
              <%= form_for Pick.new, url: late_picks_path, layout: :basic do |f| %>
                <%= f.hidden_field :draft_id, value: 1 %>
                <%= f.hidden_field :season_id, value: 1 %>
                <%= f.hidden_field :contestant_id, value: c.id %>
                <%= f.submit 'Pick' %>
              <% end %>
            </h4>
            <div class="clearfix"></div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-6">
                <table class="table">
                  <tr>
                    <td>Age</td>
                    <td><%= c.age %></td>
                  </tr>
                  <tr>
                    <td>Job</td>
                    <td><%= c.job %></td>
                  </tr>
                  <tr>
                    <td>Hometown</td>
                    <td><%= c.hometown %></td>
                  </tr>
                  <tr>
                    <td>Tribe</td>
                    <td><%= c.tribes.first.try(:name) %></td>
                  </tr>
                </table>
              </div>
              <div class="col-xs-6">
                <table class="table">
                  <tr>
                    <td>Voted Out</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="cash">Cash Drafts</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="drinking">Drinking Drafts</td>
                    <td></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% @contestants.select{ |x| x.tribe_for_season(3) }.each do |c| %>
    <!-- Contestant tile -->
    <div class="item" style="background: url(<%= c.image_url %>) no-repeat center center;
            background-size: cover;
            border: 2px yellow solid;"
         data-toggle="modal"
         data-target="#contestant_modal_<%= c.id %>">
    </div>

    <!-- Contestant Modal -->
    <div class="modal fade" id="contestant_modal_<%= c.id %>"
         tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">X</button>
            <h4 class="modal-title">
              <%= c.name %>
              <%= form_for Pick.new, url: late_picks_path, layout: :basic do |f| %>
                <%= f.hidden_field :draft_id, value: 1 %>
                <%= f.hidden_field :season_id, value: 1 %>
                <%= f.hidden_field :contestant_id, value: c.id %>
                <%= f.submit 'Pick' %>
              <% end %>
            </h4>
            <div class="clearfix"></div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-6">
                <table class="table">
                  <tr>
                    <td>Age</td>
                    <td><%= c.age %></td>
                  </tr>
                  <tr>
                    <td>Job</td>
                    <td><%= c.job %></td>
                  </tr>
                  <tr>
                    <td>Hometown</td>
                    <td><%= c.hometown %></td>
                  </tr>
                  <tr>
                    <td>Tribe</td>
                    <td><%= c.tribes.first.try(:name) %></td>
                  </tr>
                </table>
              </div>
              <div class="col-xs-6">
                <table class="table">
                  <tr>
                    <td>Voted Out</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="cash">Cash Drafts</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="drinking">Drinking Drafts</td>
                    <td></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
