<%= content_for :body_id do
  'rules'
end %>
<h1 class="text-center">Official Rules</h1>
<div class="hidden-xs">
    <div class="col-xs-12 col-sm-4">
        <%= nav as: :pills, layout: :stacked, class: 'text-right' do %>
          <%= link_to 'Preamble', '#preamble', class: 'rules-link' %>
          <% @rules.each do |rule| %>
            <%= link_to rule.title.try(:titleize), "#sr#{rule.number}", class: 'rules-link' %>
          <% end %>
        <% end %>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="rules-container">
            <div id="preamble" class="active-rule">
                Enumerated below are rules representing a legal compact between
                the consenting participants in the Congress of the Unofficial
                Scurvy Family Game Night Best Friends Gang. They outline the
                terms and frameworks for which the Official Survivor: The
                Drinking Game is conducted. All participants are expected to
                follow these rules without exception, lest they be subjected to
                disciplinary measures upon being duly convicted.
            </div>
            <% @rules.each do |rule| %>
              <div id="sr<%= rule.number %>" class="hidden">
                  <%= rule.body.try(:html_safe) %>
              </div>
            <% end %>
        </div>
    </div>
</div>

<div class="panel-group visible-xs-block" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Preamble
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                Enumerated below are rules representing a legal compact between
                the consenting participants in the Congress of the Unofficial
                Scurvy Family Game Night Best Friends Gang. They outline the
                terms and frameworks for which the Official Survivor: The
                Drinking Game is conducted. All participants are expected to
                follow these rules without exception, lest they be subjected to
                disciplinary measures upon being duly convicted.
            </div>
        </div>
    </div>
    <% @rules.each do |rule| %>
      <div class="panel panel-default">
          <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= rule.number %>" aria-expanded="false">
                      <%= rule.title.try(:titleize) %>
                  </a>
              </h4>
          </div>
          <div id="collapse_<%= rule.number %>" class="panel-collapse collapse" role="tabpanel">
              <div class="panel-body">
                  <%= rule.body.try(:html_safe) %>
              </div>
          </div>
      </div>
    <% end %>
</div>