<% contestants.each_with_index do |ct, i| %>
  <% if i > 0 %>
    <% panel_class = 'hidden character-info' %>
  <% else %>
    <% panel_class = 'character-info' %>
  <% end %>
  <%= panel class: panel_class, data: {id: ct.id} do %>
    <div class="row">
      <div class="col-xs-10 textfill">
        <span><%= ct.name %></span>
      </div>
      <div class="col-xs-2">
        <img src="<%= ct.picture_url %>" alt="" class="img-responsive"/>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <br class="visible-xs-block"/>
            <span class="btn btn-success center-block draft-contestant disabled"
                  data-id="<%= ct.id %>" data-name="<%= ct.name %>">
              DRAFT
            </span>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  <% end %>
<% end %>