<%= panel_row column_class: 'col-sm-6 col-xs-12' do %>
  <%= panel title: 'Cash Picks', context: :info do %>
    <ul>
      <% @cash_picks.each do |cp| %>
        <li><%= link_to cp.contestant.name, contestant_path(cp.contestant) %></li>
      <% end %>
    </ul>
  <% end %>
  <%= panel title: 'Drinking Picks', context: :warning do %>
    <ul>
      <% @drinking_picks.each do |cp| %>
        <li><%= link_to cp.contestant.name, contestant_path(cp.contestant) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>