<% season = @draft.try(:season) %>
<% contestants = season.try(:contestants) if season %>
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        TIME LEFT TO PICK
        TIME LEFT TO PICK
        TIME LEFT TO PICK
        TIME LEFT TO PICK
      </div>
    </div>
    <%= panel heading: 'Round 1', context: :info, class: 'text-center contestants-panel' do %>
      <% User.all.each do |u| %>
        <p><%= u.name %></p>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-6 character-info">
    <%= panel do %>
      <div class="row">
          <div class="col-xs-5" style="font-size: 32px;">
              <span><%= contestants.first.name %></span>
          </div>
        <div class="col-xs-4" style="font-size: 16px;">
            <span><%= contestants.first.age %> - <%= contestants.first.job %></span>
        </div>
        <div class="col-xs-3 text-muted" style="font-size: 16px;">
          <span><%= contestants.first.hometown %></span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <%= image_tag contestants.first.image_url, class:'img-responsive' %>
        </div>
        <div class="col-xs-8">
            <span>MORE SHIT GOES HERE</span>
            <p>EVEN MORE GOES HERE</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    <% end if contestants.try(:first) %>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped" style="height: 400px; overflow: auto;">
          <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Age</th>
            <th>Job</th>
            <th>Hometown</th>
            <th>Tribe</th>
            <th></th>
          </tr>
          </thead>
          <tbody style="height: 400px; overflow: auto;">
          <% contestants.try(:each) do |c| %>
            <tr>
              <td><%= icon :plus %></td>
              <td><%= c.name %></td>
              <td><%= c.age %></td>
              <td><%= c.job %></td>
              <td><%= c.hometown %></td>
              <td><%= icon :asterisk %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        Your Money Picks
      </div>
      <div class="panel-body" style="height: 75px; overflow: auto;">
        <p>Contestant 1</p>
        <p>Contestant 2</p>
        <p>Contestant 3</p>
        <p>Contestant 4</p>
      </div>
    </div>
    <div class="panel panel-warning">
      <div class="panel-heading">
        Your Drinking Picks
      </div>
      <div class="panel-body" style="height: 75px; overflow: auto;">
        <p>Contestant 1</p>
        <p>Contestant 2</p>
        <p>Contestant 3</p>
        <p>Contestant 4</p>
        <p>Contestant 5</p>
      </div>
    </div>
    <div class="chat"></div>
    <form class="">
      <input type="text" id="chat-line" class="form-control"
             placeholder="Message"/>
      <button class="btn btn-primary send-chat form-control">Send</button>
    </form>
    </div>
  </div>
  <div class="clearfix"></div>
</div>