<%= content_for :body_id do 'game_day' end %>
<h3 class="col-xs-7">
  <%= @episode.name %>
</h3>
<p class="col-xs-5 text-right started">
  Starts in -
  <span class="episode-countdown"
        data-date="<%= @episode.air_date.iso8601 %>">
    04:20:00
  </span>
</p>
<div class="clearfix"></div>
<hr/>
<div class="row">
  <div class="col-sm-6 col-xs-12 text-center" style="margin-bottom: 2rem;">
    <%= render 'shared/chat' %>
  </div>
  <div class="col-sm-6 col-xs-12">
    <%= panel :heading => 'Pool Players', :context => :default do %>
      <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
          <th>Name</th>
          <th>Cash</th>
          <th>Drinking</th>
        </tr>
        </thead>
        <tbody>
        <% @players.each do |u| %>
          <tr>
            <td><%= u.first_name %></td>
            <td>
              <%= u.cash_picks(1).collect{ |x| x.contestant.name }.join ', ' %>
            </td>
            <td>
              <%= u.drinking_picks(1).collect{ |x| x.contestant.name }.join ', ' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
    <%= panel heading: 'Contestants', context: :info do %>
      <ul>
        <% @episode.season.contestants.each do |c| %>
          <li>
            <%= link_to c.name, contestant_path(c), target: '_blank' %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>