<!DOCTYPE html>
<html>
<head>
  <title>Survivor Club</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= navbar do %>
  <%= vertical do %>
    <%= link_to 'Home', root_path %>
  <% end %>
  <%= horizontal do %>
    <%= nav class: 'navbar-right' do %>
      <%= link_to 'Dashboard', root_path %>
      <%= link_to 'Episodes', episodes_path %>
      <%= link_to 'Seasons', seasons_path %>
      <%= link_to 'Contestants', contestants_path %>
      <%= link_to 'Game Day', root_path %>
    <% end %>
  <% end %>
<% end %>
<div class="container-fluid">
  <div class="row">
    <%= yield %>
  </div>
</div>
</body>
</html>
