<!DOCTYPE html>
<html>
<head>
  <title>Survivor Club</title>
  <%= Gon::Base.render_data({init: true}) %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    App.globals.user.email = '<%= current_user.try(:email) %>';
    App.globals.user.name = '<%= current_user.try(:name) %>';
    App.globals.user.id = '<%= current_user.try(:id) %>';
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body id="<%= yield :body_id %>"
      class="<%= yield :body_class %>"
      style="<%= yield :body_style %>">
<%= navbar do %>
  <%= vertical do %>
    <%= link_to 'Home', root_path %>
  <% end %>
  <%= horizontal do %>
    <%= nav class: 'navbar-right' do %>
      <%= link_to 'Episodes', episodes_path %>
      <%= link_to 'Seasons', seasons_path %>
      <%= link_to 'Contestants', contestants_path %>
      <%= link_to 'Tribes', tribes_path %>
      <%= link_to 'Game Day', game_day_path %>
      <% if user_signed_in? %>
        <%= link_to icon(:user), user_path(current_user) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
      <p class="notice"><%= notice %></p>
      <p class="alert hidden"><%= alert %></p>
      <!-- flash notifications -->
      <% flash.each do |key, value| %>
        <%= alert_box value, dismissible: true, context: key %>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
